/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  background-color: #0D000D; }

.game-container {
  width: 100%;
  margin-left: auto;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-end; }

.game-board {
  width: 50%;
  min-width: 300px;
  height: 100%;
  position: relative;
  perspective: 3000px;
  perspective-origin: center 100vh;
  transition: perspective-origin 0.2s;
  padding-bottom: 50px;
  transform-style: preserve-3d; }
  .game-board.deactivated ul li button {
    border-color: #4d4b5a; }
  .game-board.deactivated .level:nth-of-type(1) {
    transform: rotateX(50deg) translateZ(45vh) translateX(-50%); }
  .game-board.deactivated .level:nth-of-type(2) {
    transform: rotateX(50deg) translateZ(35vh) translateX(-50%); }
  .game-board.deactivated .level:nth-of-type(3) {
    transform: rotateX(50deg) translateZ(25vh) translateX(-50%); }

.level {
  position: absolute;
  bottom: 60px;
  left: 50%;
  display: grid;
  grid-gap: 2px;
  width: 230px;
  height: 230px;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  transform: rotate3d(1, 0, 0, 50deg);
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin-bottom: -20vh; }
  .level:nth-of-type(1) {
    transform: rotateX(50deg) translateZ(75vh) translateX(-50%); }
  .level:nth-of-type(2) {
    transform: rotateX(50deg) translateZ(50vh) translateX(-50%); }
  .level:nth-of-type(3) {
    transform: rotateX(50deg) translateZ(25vh) translateX(-50%); }

.li:nth-of-type(odd) button {
  border-color: #6141A6; }

.mark-button {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  outline-color: red;
  border: 2px solid #7F6DF2;
  border-radius: 2px;
  transition: transform 0.1s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
  font: 400 32px 'Roboto', sans-serif;
  color: #000000;
  background-color: #0D000D;
  transform-origin: center;
  transform-style: preserve-3d; }
  .mark-button:active {
    transform: scale(0.9); }
  .mark-button.marked-X {
    background-color: #66c4ff;
    box-shadow: 0 0 4px 0px #66c4ff; }
  .mark-button.marked-O {
    background-color: #66ffed;
    box-shadow: 0 0 4px 0px #66ffed; }
  .mark-button.winning {
    border-color: #ffffff;
    background-color: #ffffff;
    box-shadow: 0 0 16px 2px white; }

.rotate-left, .rotate-right {
  position: absolute;
  height: 32px;
  width: 32px;
  background: url(images/rotate-arrow.svg) center/cover no-repeat;
  border: none;
  bottom: 40%;
  cursor: pointer;
  transition: background-color 0.2s; }
  .rotate-left:active, .rotate-right:active {
    background-color: #3dadf2; }

.rotate-left {
  left: 50%;
  transform: translateX(calc(-175px - 50%)); }

.rotate-right {
  left: 50%;
  transform: translateX(calc(175px - 50%)) scaleX(-1); }

.start {
  position: absolute;
  bottom: 30px;
  left: 50%;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  font: 400 22px 'Roboto', sans-serif;
  color: #ffffff;
  transform: translateX(-50%);
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  transition: border 0.2s, color 0.2s;
  letter-spacing: 2px; }
  .start.restart {
    border: 2px solid rgba(0, 0, 0, 0);
    color: #dad8d8;
    letter-spacing: 1px; }

.game-info {
  align-self: flex-start;
  margin-top: 100px; }

.players-details {
  display: flex;
  flex-direction: column;
  min-width: 200px; }

.player-name {
  position: relative;
  font: 400 20px 'Roboto', sans-serif;
  color: #e2e2e2;
  background-color: transparent;
  border: none; }
  .player-name::placeholder {
    color: #e2e2e2;
    opacity: 1 !important;
    transition: opacity 0.2s; }
  .player-name:focus::placeholder {
    opacity: 0.5 !important; }

.player-name-wrapper {
  position: relative;
  margin-bottom: 15px; }
  .player-name-wrapper:nth-of-type(1)::before {
    content: "X";
    color: #66c4ff;
    font: 700 30px 'Roboto', sans-serif;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%); }
  .player-name-wrapper:nth-of-type(2)::before {
    content: "O";
    color: #66ffed;
    font: 700 30px 'Roboto', sans-serif;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%); }
  .player-name-wrapper::after {
    content: attr(data-wins) " ";
    font: 700 30px 'Roboto', sans-serif;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
    white-space: nowrap; }

.rename-note {
  border-top: 1px solid #bbbbbb;
  font: 400 14px/1.2 'Roboto', sans-serif;
  padding-top: 10px;
  color: #9c9c9c;
  order: 1; }

.player-message {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: color 0.15s, opacity 0.15s;
  color: transparent; }
  .player-message.X {
    color: #66c4ff; }
  .player-message.O {
    color: #66ffed; }
  .player-message.win {
    color: #ffffff; }

.player-message-text {
  font: 400 18px 'Roboto', sans-serif; }

.player-mark {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font: 700 64px 'Roboto', sans-serif; }
